body {
  background: url('dino.png');
  background-size: cover;
  color: rgb(175, 245, 193);
  text-align: center;
  height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}